@import "@aaronellington/reset-css";

body {
	min-width: 300px;
	min-height: 300px;
}

.container {
	user-select: none;
	position: fixed;
	inset: 0;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

img {
	width: 64px;
	height: 64px;
}
